.wrapper {
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 49vh;
    padding: 40px 0;
}

.input-name {
    width: 320px;
    height: 26px;
    border-radius: 10px;
    padding: 10px;
}

.Jenre {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
}

.themes {
    width: 100%;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-top: 40px;
    gap: 16px;
}

.card {
    background-color: var(--color-background-card);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    min-height: 40px;
    border-radius: 10px;
}

.card:hover {
    background-color: silver;
    cursor: pointer;
    transform: scale(1.1);
}

input:checked + .card {
    border-color: #b9bf6c;
    background-color: #faffe7;
    box-shadow: 0 0 10px rgba(242, 255, 0, 0.3);
}

.screensaver {
    margin: 40px 0;
    font-size: 18px;
    font-weight: bold;
}

.addImage{
    height: 200px;
    width: 200px;
    background-color: var(--color-background-card);
    display: flex;
    align-items: center;
    justify-content: center;
}

.but-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addImage-button {
    background-color: rgb(45, 202, 45);
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.2s ease;
}

.addImage-button span {
    display: block;
    min-height: 3px;
    min-width: 30px;
    background-color: #ffffff;
    position: absolute;
}

.addImage-button span:last-child {
    transform: rotateZ(90deg);
}

.addImage-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(41, 183, 41);
}

.createMuseum-btn, .createExhibit-btn {
    margin-top: 40px;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-background-button);
    border: 0;
    transition: all 0.2s ease;
}

.createMuseum-btn:hover, .createExhibit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-background-hover);
}

.NameExhibit {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}

.AboutMuseum {
    margin-top: 40px;
    height: 80px;
    width: 220px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    padding: 15px;
}

.createExhibit-btn {
    height: 40px;
    width: 320px;
}

.createExhibit-btn:first-child {
    margin-right: 20px;
}